name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        nim: [2.2.6]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Nim
      uses: jiro4989/setup-nim-action@v2
      with:
        nim-version: ${{ matrix.nim }}
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '3.x'
    - name: Build
      run: nimble install -y
      env:
        TMP: ${{ runner.temp }}
    - name: Test
      run: nimble test -y